#covers{
    position: relative;
}

.book-cover{
    background-color: rgb(252, 238, 230);
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

@media (max-width: 1250px) { /* mobile*/
    .book-cover{
        width: 44vh;
        height: 70.5vh;
        background-color: rgb(252, 238, 230);
        position: relative;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 1250px) { /* mobile*/
    .book-cover{
        width: 44vh;
        height: 70.5vh;
        background-color: rgb(252, 238, 230);
        position: relative;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1250px) and (max-width: 1250px) {
    .book-cover{
        width: 44vh;
        height: 68vh;
        background-color: rgb(252, 238, 230);
        position: relative;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
    }
}


@media (min-width: 1250px) { /* desktop*/
    .book-cover{
        width: 43.8vh;
        height: 70vh;
        max-width: 30vw;
        max-height: 50vw;
    }
}

.book-cover:hover img{
    display: none;
 }

 .book-cover img{
    position: absolute;
    z-index: 3; 
    max-width: 100%;
    max-height: 100%;
    margin: auto;
 }

 .book-text{
    font-family: 'Old Standard TT', serif;
    padding-left: 7%;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-word;
    width: 85%;
    height: 80%;
    word-wrap: break-word;
    line-height: 1.5;
 }

 .book-header{
    padding-left: 7%;
    padding-top:3%;
    font-weight: bold; 
    margin-bottom: 50px; 
    font-size: 2vh;
 }
 