
html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-width: 100%;
    background-color:aquamarine;
 }

p {
    margin: 0;
}

#container{
    max-height: 100vh;
    /* overflow-y: scroll; */
    scroll-snap-type: y proximity;
}


.big-block{
    width: 100%; /* DO NOT USE VW */
    height: 100vh;
    scroll-snap-align: start;
}

.col-block{
    width: 100%; /* DO NOT USE VW */
    scroll-snap-align: start;
}

.p-left-center{
    color:#AA51B9;
    padding-left:15vw;
    padding-top:20vh;
 
}
.p-left-center{
    color:#AA51B9;
    padding-right:15vw;
    padding-top:20vh;
}

.p-hand{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size:1.5vw;
}

.p-left-top{
   padding-top: 5vh;
   padding-left:15vw;
}

.p-header{
    font-size:7vw;
}

@media (max-width: 1250px) { /* mobile */
    .p-hand{
        font-size:5vw;
    }

    .p-header{
        font-size:14vw;
    }
}


.p-bold{
    padding-top: 6 bvh;
    font-family: 'Karantina', cursive;
}

@media (max-width: 1250px) { /* mobile*/

    .left-img {
      margin: auto;
      width: 100%;
  }

}

.legend {
    font-family: 'Old Standard TT', serif;
    position: absolute;
    bottom: 5%;
    right: 8%;
    color: white;
}

.img-3{
    display: flex;
    justify-content: space-around;
    padding-top:8vh;
    overflow: hidden;
}

@media (max-width: 1250px) { /* mobile*/
    .img-3{
        flex-direction: column;
    }
  }

.m-img{
    max-height: 70vh;
    max-width: 90vw;
    padding: 20px;
    margin:auto;
}